.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  &--info {
    color: var(--info-color);
  }

  &--success {
    color: var(--success-color);
  }

  &--error,
  &--internet-lost {
    color: var(--error-color);
  }

  &--warning {
    color: var(--warning-color);
  }

  &--large {
    font-size: 2rem;
  }

  &--medium {
    font-size: 1.5rem;
  }

  &--small {
    font-size: 1.125rem;
  }
}
