@import '../colors.scss';

.list {
    max-width: 720px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: black;
    background-color: $alert-info-background-color;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: $alert-info-color;
}

.list-item {
    padding: 10px;
    border-bottom: 1px solid;
    border-color: $alert-info-color;
}